---
Checks: >
  -*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-deadcode.DeadStores,
  clang-analyzer-security.*,
  clang-analyzer-unix.*,
  bugprone-infinite-loop,
  bugprone-posix-return,
  bugprone-string-integer-assignment,
  bugprone-suspicious-memset-usage,
  bugprone-unused-raii,
  bugprone-use-after-move,
  modernize-use-nullptr,
  modernize-use-override,
  performance-for-range-copy,
  performance-move-const-arg,
  performance-unnecessary-copy-initialization,
  readability-redundant-string-init,
  readability-static-accessed-through-instance
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/(apps|src)/.*'
FormatStyle: file
...
