<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-FileCopyrightText: 2026 Kamil Piwowarski <kapiwko@gmail.com> -->
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>btrfs-backup</vendor>
  <vendor_url>https://github.com/kapiwko/btrfs-backup</vendor_url>

  <action id="io.github.btrfsbackup.start-backup">
    <description>Start a Btrfs backup</description>
    <message>Authentication is required to start a Btrfs backup</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>yes</allow_active></defaults>
  </action>
  <action id="io.github.btrfsbackup.cancel-backup">
    <description>Cancel a Btrfs backup</description>
    <message>Authentication is required to cancel a Btrfs backup</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>yes</allow_active></defaults>
  </action>
  <action id="io.github.btrfsbackup.validate-target">
    <description>Validate a Btrfs backup target</description>
    <message>Authentication is required to validate a Btrfs backup target</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>yes</allow_active></defaults>
  </action>
  <action id="io.github.btrfsbackup.eject-target">
    <description>Eject a Btrfs backup target</description>
    <message>Authentication is required to eject a Btrfs backup target</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>yes</allow_active></defaults>
  </action>
  <action id="io.github.btrfsbackup.manage-profile-configuration">
    <description>Change a Btrfs backup profile</description>
    <message>Authentication is required to change backup configuration</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
  </action>
  <action id="io.github.btrfsbackup.delete-profile-configuration">
    <description>Delete a Btrfs backup profile</description>
    <message>Authentication is required to delete backup configuration</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin</allow_active></defaults>
  </action>
  <action id="io.github.btrfsbackup.set-profile-enabled">
    <description>Enable or disable automatic Btrfs backups for a profile</description>
    <message>Authentication is required to change automatic backup activation</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>yes</allow_active></defaults>
  </action>
  <action id="io.github.btrfsbackup.open-browse-session">
    <description>Open a read-only Btrfs backup browsing session</description>
    <message>Authentication is required to browse backup contents</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
  </action>
  <action id="io.github.btrfsbackup.manage-target-credentials">
    <description>Manage passwords and keys for a Btrfs backup target</description>
    <message>Authentication is required to manage backup target credentials</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin_keep</allow_active></defaults>
  </action>
  <action id="io.github.btrfsbackup.prepare-backup-device">
    <description>Erase and prepare a backup device</description>
    <message>Authentication is required to erase and prepare a backup device</message>
    <defaults><allow_any>no</allow_any><allow_inactive>auth_admin</allow_inactive><allow_active>auth_admin</allow_active></defaults>
  </action>
</policyconfig>
